---
layout: home
---
<div class="business-wrap">
    <div class="business-text">
           <h2><span>DK A.N.T</span> BUSINESS</h2>
        <span></span>
        <p>DK플랫폼을 통해 개선할 수 있는 현상을 진단하고 그에 대한 SW솔루션을 제공한다</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-6 business-img-list">          
                <a href="{{ base_path }}/business/fclt/">
                    <img src="/assets/images/platformImg.png">
                </a>
                <div>
                    <a href="{{ base_path }}/business/fclt/">스마트 유지관리 플랫폼</a>
                </div>

            </div>
            <div class="col-md-4 col-6 business-img-list">                
                <a href="{{ base_path }}/business/ipes/">
                    <img src="/assets/images/noparkingImg.png">
                </a>
                <div>
                    <a href="{{ base_path }}/business/ipes/">불법주정차 무인단속시스템</a>
                </div>
            </div>
            <div class="col-md-4 col-6 business-img-list">                
                <a href="{{ base_path }}/business/traffic/">
                    <img src="/assets/images/lightImg.png"
                    ></a>
                <div>
                    <a href="{{ base_path }}/business/traffic/">지능형 교통관리 소프트웨어</a>
                </div>
            </div>
            <div class="col-md-4 col-6 business-img-list">                
                <a href="{{ base_path }}/business/smartcity/">
                    <img src="/assets/images/cityImg.png">
                </a>
                <div>
                    <a href="{{ base_path }}/business/smartcity/">스마트시티 플랫폼
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-6 business-img-list">                
                <a href="{{ base_path }}/business/cctv/">
                    <img src="/assets/images/cctvImg.png">
                </a>
                <div>
                    <a href="{{ base_path }}/business/cctv/">CCTV 통합관제 플랫폼</a>
                </div>
            </div>
            <div class="col-md-4 col-6 business-img-list">     
                <a href="{{ base_path }}/business/timegram/">           
                    <img src="/assets/images/timegram.png">
                </a>
                <div>
                    <a href="{{ base_path }}/business/timegram/">타임그램(애플리케이션)</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="advantage-wrap">
        <ul><li><p>DK A.N.T를 
선택하는 
이유
            </p>
        </li>
        <li>
            <p>DK A.N.T를 선택하는 이유</p>
        </li>
        <li class="sm-view">
            <div class="ad-image-wrap">
                <img src="/assets/images/w-certificate.png" class="mb">
                <img src="/assets/images/certificate.png" class="pc">
            </div>
            <div class="ad-text-wrap">
                <h4>시설물 특화 솔루션</h4>
                <p>위치 기반 시설물에 대하여 H/W에서 S/W까지 아우르는 다양한 지식과 기술을 보유하고 있습니다. </p>
            </div>
        </li>
        <li class="sm-view">
            <div class="ad-image-wrap">
                <img src="/assets/images/w-network.png" class="mb">
                <img src="/assets/images/network.png" class="pc">
             </div>
            <div class="ad-text-wrap">
                <h4>최신 기술 접목을 위한 R&D</h4>
                <p> 빠르게 변해가는 IT 트렌드를 따라가기 위해 지속적인 R&D를 수행합니다.</p>
            </div>
        </li>
        <li class="sm-view">
            <div class="ad-image-wrap">
                <img src="/assets/images/w-cloud.png" class="mb">
                <img src="/assets/images/cloud.png" class="pc">
            </div>
            <div class="ad-text-wrap">
                <h4>클라우드 기반 시스템 지향</h4>
                <p>AWS, Docker 기반의 클라우드 서비스를 통해 저비용, 고효율의 시스템을 지향합니다. </p>
            </div>
        </li>
    </ul>
</div>


<div class="post-wrap">
    <ul id="post-list">
            <div class="post-text">
                    <h2><span>Tech</span> Blog Post</h2>
                    <span></span>
                    <p>DK A.N.T의 유익한 정보가 담긴 글들을 소개합니다.</p>
                </div>

            {% for post in site.posts limit:4 %}
                {% include item.html %}
            {% endfor %}
    </ul>
    <div class="more-btn">
            <a class="nav-link" href="{{ base_path }}/technote/">More Read</a> 
    </div>
</div>