<div id="footer" class="">
        <a href="#" id="back-to-top">top</a>
    <ul id="links">
        {% if site.github_url %}
        <li>
            <a id="link-github" href="http://github.com/{{ site.github_url.username }}" target="_blank">
                <span class="sr-only">github</span>
            </a>
        </li>
        {% endif %}
        <!-- {% if site.facebook %}
        <li>
            <a id="link-facebook" href="http://facebook.com/{{ site.facebook.username }}" target="_blank">
                <span class="sr-only">facebook</span>
            </a>
        </li>
        {% endif %}
        {% if site.twitter %}
        <li>
            <a id="link-twitter" href="http://twitter.com/{{ site.twitter.username }}" target="_blank">
                <span class="sr-only">twitter</span>
            </a>
        </li>
        {% endif %} -->
        <li>
            <a id="link-rss" href="/rss" target="_blank">
                <span class="sr-only">rss</span>
            </a>
        </li>
    </ul>
    <div id="footer-menu">
        <img src="/assets/images/intro/dkant_logo_white.png" id="footer-logo">
        <div id="address">
            <p><span class="strong-tag">본사</span> 서울특별시 송파구 송파대로 20길 4, 헤브론복합빌딩 302호(문정동) | TEL: 02-459-7571 | FAX: 02-459-7572</p>
            <p><span class="strong-tag">공장</span> 경기도 하남시 하남대로 947, D동 1316호(풍산동, 하남테크노벨리U1 센터)</p>
        </div>
        <p id="copyright">
            Copyright © DKANT Corp. All rights reserved.
        </p>
        <!-- <li><a href="//careers.kakao.com/jobs">Jobs</a></li> -->
        <!-- <li><a href="//privacy.kakaocorp.com">Privacy</a></li> -->
    </div>
</div><!--#footer-->

<script>
        $(function(){
        $(window).scroll(function(){
                if ($(this).scrollTop() > 200) {
                    $('#back-to-top').css( "display", "block" );
                } else {
                    $('#back-to-top').css( "display", "none" );
                }
            });
            $("#back-to-top").click(function() {
                $('html, body').animate({
                    scrollTop : 0
                }, 400);
                return false;
            });
        });
        </script>
