<div id="header">
    <button id="menu-toggle" type="button">
        <span class="sr-only">Toggle Navigation Menu</span>
    </button>
    <button id="search-toggle" type="button">
        <span class="sr-only">Toggle Search Form</span>
    </button>
    <!-- <a id="logo" href="/">
        <span class="sr-only">DK Tech</span>
    </a> -->    

    <ul id="menu" class="nav">
        <li class="{% if page.url != '/aboutus/' and page.url != '/openapi/' and page.url != '/events/' %} active {% endif %}"><a href="{{ base_path }}/">BLOG</a></li>
        <li class="{% if page.url == '/aboutus/' %} active {% endif %}"><a href="{{ base_path }}/aboutus/">ABOUT US</a></li>
        <!-- <li class="{% if page.url == '/openapi/' %} active {% endif %}"><a href="{{ base_path }}/openapi/">오픈API</a></li> -->
        <li class="{% if page.url == '/events/' %} active {% endif %}"><a href="{{ base_path }}/events/">BUSINESS</a></li>
        <li class="{% if page.url == '/events/' %} active {% endif %}"><a href="{{ base_path }}/events/">CONTACT US</a></li>
    </ul>
        
    <div id="cover" class="container-fluid"
        {% if site.image %}style="background-image: url({{ site.image }});"{% else if page.image %}style="background-image: url({{ page.image }});"{% endif %} >
     </div>         
</div>
