<article>

  <header>
    <!-- pc header -->
    <div class="container-fluid header-container d-none d-sm-none d-md-block">
      <div class="row">
        <div class="col-auto header-logo">
          <a href="/"><img src="/assets/images/web_logo_red.png"></a>
        </div>
        <div class="col">
          <nav class="navbar navbar-expand-md navbar-dark" id="navBox">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if page.url == '/business/' %} active {% endif %}">
                  <a class="nav-link" href="{{ base_path }}/business/fclt/">BUSINESS</a>
                </li>
                <li
                  class="nav-item {% if page.url == '/' %} {% elsif page.url == '/business/' %} {% elsif page.url == '/contactus/' %} {% else %} active {% endif %}">
                  <a class="nav-link" href="{{ base_path }}/technote/">TECH NOTE</a>
                </li>
                <li class="nav-item {% if page.url == '/contactus/' %} active {% endif %}">
                  <a class="nav-link" href="{{ base_path }}/contactus/">CONTACT US</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-3">
          <form class="form-inline">
            <ul class="search__results" id="results-container"></ul>
            <div id="search">
              <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search..." value="" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- mobile header -->
    <div class="container-fluid header-container d-sm-block d-md-none">
      <!-- <div class="row">
        <div class="col-12 text-center mobile-header-wrap"> -->
      <nav class="navbar navbar-expand-md navbar-dark mobile-header-menu" id="navBox">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="header-logo">
          <a href="https://dkant.net"><img src="/assets/images/web_logo_red.png"></a>
        </span>
        <span>
          <a style="color:#fff" data-toggle="collapse" href="#searchCollapse" role="button" aria-expanded="false"
            aria-controls="searchCollapse"><img src="/assets/images/searchIcon.png" class="searchIcon"></a>
          <div class="collapse" id="searchCollapse">
            <ul class="search__results" id="results-container-mobile"></ul>
            <div id="search">
              <input id="search-input-mobile" class="form-control mr-sm-2" type="search" placeholder="Search..."
                value="" />
            </div>
          </div>
        </span>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page.url == '/business/' %} active {% endif %}">
              <a class="nav-link" href="{{ base_path }}/business/fclt/">BUSINESS</a>
            </li>
            <li
              class="nav-item {% if page.url == '/' %} {% elsif page.url == '/business/' %} {% elsif page.url == '/contactus/' %} {% else %} active {% endif %}">
              <a class="nav-link" href="{{ base_path }}/technote/">TECH NOTE</a>
            </li>
            <li class="nav-item {% if page.url == '/contactus/' %} active {% endif %}">
              <a class="nav-link" href="{{ base_path }}/contactus/">CONTACT US</a>
            </li>
          </ul>
          <!-- </div>          
            </nav> -->

        </div>

    </div>
    </div>
  </header>

  <section id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="banner-wrap carousel-inner">
          <div class="carousel-item active">
            <div class="banner-item">
              <img src="/assets/images/bannerImg.png" >
            </div>
                <div class="banner-item banner-text">
                    <div style="margin:20px">
                      <p class="bold">LEADING THE WAY FUTURE</p>
                      <h2>DK A.N.T</h2>
                      <p>사물과 사물, 사물과 사람, 사람과 사람 간을 연결하는 기술에 가치를 두며

                        이 기술을 통해 사회에 도움을 주며,우리 기술을 통해 고민했던 문제가 해결되어

                        국가와 사회가 발전할 수 있도록 모든 구성원이 최선을 다하고 있습니다</p>
                      <div>
                        <a class="nav-link" href="{{ base_path }}/business/"><span>BUSINESS 보러가기</span></a>              
                        <a class="nav-link" href="{{ base_path }}/technote/"><span>TECH NOTE 보러가기</span></a>
                      </div>
                    </div>
                </div> 
          </div>
      </div>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </section>
  <div style="color:#fff">
    {{page.url}}
  </div>
  <!-- <header>
  <div class="header-logo">
    <span>
        <a href="/"><img src="/assets/images/web_logo.jpg"></a>
    </span>
  </div>
<nav class="navbar navbar-expand-md navbar-light" id="navBox">
  <div class="container">
    <span class='mbnavbar-logo'>
        <a href="/"><img src="/assets/images/web_logo.jpg"></a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if page.url == '/' %} active {% endif %}">            
            <a class="nav-link" href="{{ base_path }}/">About DKA.N.T</a>
        </li>

        <li class="nav-item {% if page.url == '/business/' %} active {% endif %}">
            <a class="nav-link" href="{{ base_path }}/business/">Business</a>
        </li>

        <li class="nav-item {% if page.url != '/' && page.url != '/business' && page.url != '/contactus' %} active {% endif %}">
            <a class="nav-link" href="{{ base_path }}/technote/">Tech Note</a>
        </li>

        <li class="nav-item {% if page.url == '/contactus/' %} active {% endif %}">
            <a class="nav-link" href="{{ base_path }}/contactus/">Contact us</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="search__results" id="results-container"></ul>
        <div id="search">
            <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search..." value="" />
        </div>        
      </form>
    </div>
  </div>       
</nav>
</header> -->

</article>

<!-- Script pointing to jekyll-search.js -->
<script src="{{site.baseurl}}/dest/jekyll-search.js" type="text/javascript"></script>

<script type="text/javascript">
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '{{ site.baseurl }}/search2.json',
    searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a></li>',
    noResultsText: '<li>No results found</li>',
    limit: 15,
    fuzzy: false,
    exclude: ['Welcome']
  })

  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input-mobile'),
    resultsContainer: document.getElementById('results-container-mobile'),
    json: '{{ site.baseurl }}/search2.json',
    searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a></li>',
    noResultsText: '<li>No results found</li>',
    limit: 15,
    fuzzy: false,
    exclude: ['Welcome']
  })
</script><!-- #header -->