<!-- 메인 페이지 인덱스 notice 박스 -->
<li class="post-item post {{ post.post_class }}">
    <div class="inbox">
        <div class="post-title">            
            <h4>
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </h4>
        </div>        
        <a href="{{ post.url }}" id="post-excerpt-size"><p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 75 }}</p></a>
        <p class="post-date">{{ post.date | date: '%Y-%m-%d %H:%M' }}</p>

    </div>
</li>



