
#header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: 400px;
}
#header ul#menu{
    border-top: 1px solid gray
}

#header #search{
    top: 60px;
    right: 480px
}

#header ul#menu li a{
    color: #fff
}