main {
  position: relative;
}
/* #wrapper {
  padding-bottom: 100px;
} */
.shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(143, 143, 143, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(143, 143, 143, 1);
  box-shadow: 1px 1px 5px 0px rgba(143, 143, 143, 1);
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.inline-center {
  display: block;
  width: 90%;
  margin: auto;
}

/* 공통 */
.sub-title {
  margin: 80px 0 25px 0;
}
.sub-title::before {
  margin-right: 20px;
  content: '';
  width: 19px;
  border-bottom: 3px solid #ab2e49;
  display: inline-block;
  margin-bottom: 7px;
}

/* * * * * * * header * * * * * * */
/* search창 */
.search__results {
  background: #fff;
  font-size: 14px;
  transition: 0.2s ease;
  position: absolute;
  width: 350px;
  -webkit-box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 8px;
  z-index: 999;
  top: 55px;
  right: -103px;
}
.search__results > li {
  border-top: 1px solid #f0f0f0;
  padding: 10px;
}
.search__results > li:hover {
  background-color: #eee;
  color: #0056b3;
}
.search__results > li:first-child {
  border: none;
}

article {
  width: 100%;
  background-color: #00223e;
}
header {
  max-width: 1240px;
  height: 75px;
  margin: auto;
}
.header-logo img {
  margin-top: 7px;
  width: 180px;
}
.container {
  padding-top: 8px;
}
#navbarsExampleDefault ul li {
  padding: 0 15px;
}
.searchIcon {
  width: 30px;
  margin-right: 10px;
}
.form-inline {
  float: right;
  padding-top: 7px;
}
#search-input,
#search-input-mobile {
  border-radius: 20px;
  width: 225px;
  height: 45px;
}
.mobile-header-menu {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
}
.mobile-header-menu .navbar-collapse {
  background-color: rgba(0, 34, 62, 0.5);
}
.mobile-header-menu #searchCollapse {
  position: absolute;
  right: 10px;
  top: 50px;
}

/* * * * * * * sub page header * * * * * * */
.sub-header-wrap {
  position: relative;
  height: 250px;
  /* background-color: #00223e; */
  background-image: url(/assets/images/banner-back.jpg);
  background-size: cover;
}
.sub-header {
  background-color: rgba(0, 0, 0, 0.1);
}
.sub-header h1 {
  color: #fff;
  text-align: center;
  line-height: 250px;
  font-weight: 500;
  font-size: 35px;
}
.triangle-bottomleft {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 70px 0 0 70px;
  border-color: transparent transparent transparent #da4859;
}
/* 헤더 반응형 */
@media (max-width: 992px) {
}

/* * * * * * * section * * * * * * */
section {
  width: 100%;
  height: 650px;
  /* background-image: url('/assets/images/banner_background.png');
  background-size: cover; */
  position: relative;
}
.banner-back {
  background-size: cover;
  height: 100%;
  width: 100%;
}
.back-img1 {
  background-image: url('/assets/images/banner_background.png');
}
.back-img2 {
  background-image: url('/assets/images/win-background.png');
}
section .banner-wrap {
  height: 100%;
}
section .banner-item {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  padding: 20px;
  float: right;
  width: 50%;
  height: 650px;
}
section .banner-item img {
  width: 80%;
}

section .banner-text-main {
  color: #fff;
}
section .banner-text-main .bold {
  font-weight: 600;
  font-size: 25px;
  margin: 0;
}
section .banner-text-main h2 {
  font-size: 40px;
}
section .banner-text-main a,
.banner-win-text a {
  background-color: #da4859;
  color: #fff !important;
  font-size: 12px;
  padding: 10px;
  border-radius: 3px;
  margin-left: 5px;
  display: inline-block;
}
section .banner-text-main h2 + p {
  font-size: 14px;
}
.win-banner {
  display: flex;
  justify-content: unset;
}
.win-banner > img {
  border: 3px solid #144b7b !important;
  width: 35% !important;
}
.win-banner > img:first-child {
  margin-right: 20px !important;
}

.banner-win-text > div > span {
  display: block;
  font-size: 35px;
  font-weight: 600;
  color: #da4858;
}
.plus {
  font-size: 40px !important;
  line-height: 40px;
}
.banner-win-text p {
  color: #5b5b5b;
  font-weight: 400;
}

@media (min-width: 1200px) {
  /* * * * * * * section 1200px * * * * * * */
  .banner-text-main > div {
    max-width: 450px;
  }
  .banner-win-text > div {
    max-width: 500px;
  }
  .win-banner {
    justify-content: center !important;
  }
}

@media (max-width: 768px) {
  /* * * * * * * section 768px * * * * * * */
  section .banner-item {
    float: left;
    width: 100%;
    height: 50%;
  }
  .banner-text-main,
  .banner-win-text {
    margin-top: 20px;
    text-align: center;
  }
  .banner-text-main h2 + p,
  .banner-win-text h2 + p {
    display: none;
  }
  section .banner-item img {
    width: 450px;
  }
  .back-img2 {
    background-image: url('/assets/images/win-background-mb.png');
  }
  .win-banner {
    justify-content: center;
  }
}

@media (max-width: 499px) {
  /* * * * * * * section 499px * * * * * * */
  section .banner-item img {
    width: 330px;
  }
  .banner-text-main {
    margin: 0;
  }
  .win-banner {
    justify-content: center !important;
  }
  .banner-win-text > div {
    margin-bottom: 100px !important;
  }
}
/* * * * * * *  business header * * * * * * */
.business-template {
  /* overflow: hidden */
}
.busi-header {
  position: relative;
  height: 450px !important;
  width: 100%;
  background-size: cover;
}
.busi-header:after {
  clear: both;
  display: block;
  content: '';
}
.busi-text {
  float: left;
  width: 50%;
  position: absolute;
  left: 0;
  top: 40%;
  color: #fff;
  text-align: center;
}
.busi-text h1 {
  font-weight: 600;
}
.busi-img {
  float: right;
  width: 50%;
  padding: 2% 1% 0 7% !important;
}
.busi-img img {
  max-width: 100%;
}
.cctvback {
  background-image: url(../images/cctvban.png);
}
.fcltback {
  background-image: url(../images/smartcity.png);
}
.ipesback {
  background-image: url(../images/parking.png);
}
.smartcity {
  background-image: url(../images/smart.png);
}
.trafficback {
  background-image: url(../images/traffic.png);
}
@media (max-width: 1100px) {
  /* * * * * * * busi-banner 1100px * * * * * * */
  .busi-img {
    display: none;
  }
  .busi-header {
    height: 300px !important;
  }
  .busi-header .busi-text {
    width: 100%;
    padding-top: 110px;
    right: 0;
    left: 0;
    top: auto;
  }
}

/* * * * * * *  business * * * * * * */
.business-wrap {
  max-width: 1240px;
  display: block;
  margin: auto;
  padding: 50px 0 70px 0;
}
.business-text {
  text-align: center;
  padding: 50px 0 30px 0;
}
.business-text a:hover {
  color: #1e1e1e;
}
.business-text > span {
  display: block;
  border-top: 5px solid #3e576d;
  width: 63px;
  margin: 35px auto;
}
.business-text h2 {
  font-size: 35px;
}
.business-text > h2 > span {
  color: #da4859;
}
.business-wrap .container .row div {
  text-align: left;
  width: 350px;
  margin: 25px auto;
}
.business-wrap .container .row div img {
  width: 110px;
}
.business-img-list > div {
  margin: 15px 0 50px 35px;
  color: #00223e;
}
.business-img-list {
  display: flex;
}
.business-img-list strong {
  font-size: 20px;
  color: #0e64a5;
}
.business-img-list p {
  font-size: 12px;
  margin-top: 8px;
  color: #505c67;
}
@media (max-width: 1200px) {
  /* * * * * * *index 비즈니스 영역 1200px * * * * * * */
  .business-wrap .container .row div {
    width: 270px;
  }
}
@media (max-width: 992px) {
  /* * * * * * *index 비즈니스 영역 992px * * * * * * */
  .business-img-list {
    display: block;
  }
  .business-img-list > div {
    margin-left: 0;
  }
  .business-wrap .container .row div {
    text-align: center;
    width: auto;
  }
}
@media (max-width: 767px) {
  /* * * * * * *index 비즈니스 영역 767px * * * * * * */
  .business-img-list p {
    margin: 0 30px;
  }
  .business-text p {
    margin: 0 20px;
  }
}

/* * * * * * * * advantage * * * * * * * */
.advantage-wrap {
  width: 100%;
  height: 500px;
  background-color: #1c3d5c;
}
.advantage-wrap .advantage-title-text p {
  text-align: right;
}
.advantage-wrap .advantage-title-text p span {
  color: #da4859;
}

.advantage-wrap > div > div {
  background-color: #fff;
}
.advantage-wrap ul {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0;
}
.advantage-wrap ul:after {
  clear: both;
  content: '';
  display: block;
}
.advantage-wrap ul li {
  height: 340px;
  background-color: #fff;
  width: 22%;
  float: left;
  margin: 75px 10px 0 10px;
}
.advantage-wrap ul li:first-child {
  background-color: #1c3d5c;
  /* white-space: pre; */
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
}
.advantage-wrap ul li:nth-child(2) {
  display: none;
}
.ad-text-wrap {
  display: inline-block;
  margin: auto;
  width: 100%;
}
.advantage-wrap ul li .ad-text-wrap h4 {
  margin-top: 25px;
  color: #1c3d5c;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.advantage-wrap ul li .ad-text-wrap p {
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
}
.sm-view .pc {
  width: 85px;
  margin: 40px auto;
  display: block;
}
.sm-view .mb {
  display: none;
}
.sm-view > p {
  margin: 0 20px;
  word-break: break-all;
  color: #1c3d5c;
}

/* * * * * * * * index - post* * * * * * * */
.post-wrap {
  background-color: #f6f6fe;
  padding-bottom: 50px;
}
#post-list:after {
  display: block;
  clear: both;
  content: '';
}
#post-list {
  padding: 50px 0;
  max-width: 1240px;
  margin: auto;
}
#post-list .post-item {
  position: relative;
  width: 25%;
  float: left;
  height: 400px;
  background-color: #f6f6fe;
  padding: 10px;
}
#post-list .post-item:after {
  clear: both;
  content: '';
  display: block;
}
.inbox {
  height: 100%;
  background-color: #fff;
  box-shadow: 5px 4px 6px 0px #eeeeee;
  display: flex;
  flex-direction: column;
}
.post-text {
  text-align: center;
  padding: 50px 0 30px 0;
}
.post-text > span {
  display: block;
  border-top: 5px solid #3e576d;
  width: 63px;
  margin: 35px auto;
}
.post-text h2 {
  font-size: 35px;
}
.post-text > h2 > span {
  color: #da4859;
}
#post-list .inbox .author-name,
#post-list .inbox .post-date,
#post-list .inbox .post-title {
  /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}
#post-list .post-item .inbox > div.post-title {
  background-color: #295b86;
  padding: 9px 12px;
  height: 75px;
  margin: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.post-title h4 a {
  color: #fff;
}
#post-list .post-item .inbox > div.post-title h4 {
  line-height: 30px;
  font-size: 23px;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}
#post-list .post-excerpt {
  word-break: break-all;
  font-size: 14px;
  line-height: 24px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin: 30px 20px 20px 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#post-excerpt-size {
  display: flex;
  flex: 1;
}
#post-list .inbox .post-tags {
  padding: 0 20px;
  margin: 0;
  height: 60px;
}
.post-meta {
  padding: 0 10px;
  height: 80px;
}
.post-meta::after {
  clear: both;
  content: '';
  display: block;
}
.post-meta > a {
  float: left;
}
.post-meta > div {
  float: right;
}
.post-meta > div:after {
  clear: both;
  content: '';
  display: block;
}
.post-meta > div a {
  font-weight: 600;
}
#post-list .author-image {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: url(../images/pc/default_pic_s.png) no-repeat center;
  background-size: cover;
}
#post-list .author-name {
  margin: 12px 0 0 0;
  font-size: 14px;
  color: #1e1e1e;
}
#post-list .post-date {
  font-size: 12px;
}

.more-btn {
  background-color: #3470a8;
  width: 150px;
  margin: auto;
  text-align: center;
}
.more-btn a {
  display: block;
  color: #fff !important;
  text-decoration: none;
}
.more-btn a:hover {
  background-color: #d7dff2;
  color: #001f42;
  font-weight: 600;
}

a.tag {
  display: inline-block;
  margin: 0 4px 4px 0;
  padding: 0 8px;
  border: 1px solid #949494;
  vertical-align: middle;
  color: #1e1e1e;
  font-size: 10px;
  line-height: 24px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  /* index - bottom */
  #post-list .post-item {
    width: 100%;
    height: 265px;
    position: relative;
  }
  #post-list .inbox .post-title {
    font-size: 20px;
    height: 50px !important;
  }
  #post-list .inbox .post-excerpt {
    padding: 0 20px;
    color: #595959;
    margin: 17px 20px;
  }
  .post-meta {
    width: 100% !important;
    bottom: 0;
    height: 55px;
  }
  .post-meta .author-image {
    margin: 0;
    height: 50px !important;
    width: 50px !important;
  }
  #post-list .author-name {
    margin: 0;
  }
  .post-meta .post-date {
    float: right;
  }
  #post-list .inbox .post-tags {
    height: 35px;
  }
}

@media (max-width: 768px) {
  /* advantage */
  .advantage-wrap ul li:first-child {
    display: none !important;
  }
  .advantage-wrap ul li:nth-child(2) {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin: auto;
    line-height: 90px;
  }

  .advantage-wrap ul li {
    width: 100% !important;
    background-color: #1c3d5c;
    height: 100px;
    margin: 10px 0;
    padding: 0 10px;
  }
  .sm-view .pc {
    display: none;
  }
  .sm-view .mb {
    width: 60px;
    height: 60px;
    margin: 20px auto;
    display: inline-block;
  }
  .sm-view p,
  .sm-view h4 {
    display: inline-block;
    color: #fff !important;
  }
  .sm-view p {
    display: block;
  }
  .sm-view {
    display: flex !important;
  }
  .ad-image-wrap {
    display: flex;
    text-align: center;
    margin: auto;
  }
  .ad-text-wrap {
    flex: 1;
    text-align: center;
  }
  .advantage-wrap ul li .ad-text-wrap p {
    padding: 0 30px;
  }
}

@media (max-width: 400px) {
  section {
    height: 530px;
  }
}

/* footer */
#footer {
  padding: 20px 30px;
  background-color: #00223e !important;
  text-align: center;
  font-size: 13px;
  position: relative;
  bottom: 0;
}

#footer a,
#copyright {
  color: #fff;
}

/* post */
#cover {
  width: 100%;
  border-bottom: 1px solid #cfcfcf;
  padding: 10px;
}
#cover:after {
  display: block;
  clear: both;
  content: '';
}
#cover div {
  max-width: 1040px;
  padding-top: 2px;
  margin: auto;
}
#cover > div > p {
  float: left;
  padding-top: 18px;
}
@media (max-width: 768px) {
  #cover > div > p {
    font-size: 10px;
  }
}
#cover div p a {
  background-color: #efefef;
  padding: 5px 6px;
  border-radius: 3px;
}
#post-author {
  float: right;
}
#post-author .post-author-item {
  float: left;
  padding-right: 15px;
}
#post-author a {
  display: inline-block;
}

#post-author p {
  margin: 0;
}
#author-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: cover;
  border: 1px solid #e2e2e2;
}
.post-author-item .post-date {
  color: #7f7f7f;
}

#post-prev h3,
#post-next h3 {
  font-size: 20px;
}
#back-to-top {
  width: 40px;
  height: 40px;
  background-color: #38a0b7;
  border-radius: 100%;
  position: fixed;
  right: 20px;
  bottom: 50px;
  color: #fff;
  line-height: 36px;
  text-align: center;
  display: none;
}
ol {
  padding: 0 15px;
}

/* tech-post-item */
#tech-post-list .post-title,
#tech-post-list .tech-post-excerpt {
  margin: 0px 160px 0 0;
}

#tech-post-list:after {
  display: block;
  clear: both;
  content: '';
}
#tech-post-list {
  padding: 50px 0;
}
#tech-post-list .post-item {
  max-width: 1240px;
  list-style: none;
  position: relative;
  margin: auto;
  padding: 25px 0 25px 40px;
  border-bottom: 1px solid #e6e6e6;
}

#tech-post-list .post-item a {
  color: black !important;
}
#tech-post-list .post-title,
#tech-post-list .author-name,
#tech-post-list .post-date {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#tech-post-list .post-title {
  font-size: 26px;
}
#tech-post-list .tech-post-excerpt {
  margin-top: 22px;
  font-size: 14px;
  line-height: 24px;
  max-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}
#tech-post-list .tech-author-image {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 100%;
  background: url(../images/pc/default_pic_s.png) no-repeat center;
  background-size: cover;
}
#tech-post-list .author-name {
  margin: 12px 0 0 0;
  font-size: 14px;
  color: #1e1e1e;
  text-align: center;
}
#tech-post-list .post-date {
  font-size: 12px;
  text-align: center;
  color: #525353;
}
#tech-post-list .post-tags {
  margin: 20px;
  max-width: 620px;
}
#post-content {
  position: relative;
  padding: 30px 0 50px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
  line-height: 28px; /* 28px = 16(font-size) + 12(line-spacing) */
  text-align: justify;
}

#post-content h1 {
  margin: 70px 0 30px 0;
  font-size: 26px;
}

/* @@iolo */
#post-content h2 {
  margin: 50px 0 30px 0;
  font-size: 22px;
}

#post-content h3 {
  margin: 40px 0 30px 0;
  font-size: 18px;
}

/* @@iolo */
#post-content h4 {
  margin: 36px 0 30px 0;
  font-size: 25px;
}

/* @@iolo */
#post-content h5 {
  margin: 34px 0 30px 0;
  font-size: 16px;
}

/* @@iolo */
#post-content h6 {
  margin: 32px 0 30px 0;
  font-size: 15px;
}

/* @@iolo */
#post-content h6 {
  margin: 35px 0 30px 0;
  font-size: 15px;
}

#post-content p {
  margin: 28px 0 0 0;
}

#post-content ul,
#post-content ol {
  /* padding-left: 28px; */
}
#post-content img {
  max-width: 100%;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

#post-content p {
  margin: 20px 0 0 0;
}

#post-content a {
  color: #0056b3;
}

#post-content div.highlight {
  padding: 14px 16px 4px 16px;
}

#tech-post-list .tech-post-meta {
  position: absolute;
  top: 63px;
  right: 0;
  width: 140px;
}

@media (max-width: 768px) {
  #tech-post-list .post-item {
    margin: 0 15px;
    padding: 20px 0 60px 0;
    height: 240px;
  }

  #tech-post-list .post-title {
    font-size: 18px;
    line-height: 26px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    margin: 0;
    font-weight: 600;
  }

  #tech-post-list .tech-post-excerpt {
    margin: 20px 0;
    font-size: 12px;
  }
  #tech-post-list .post-tags {
    margin: 0;
  }
  #tech-post-list .tech-post-meta {
    width: 100%;
    top: auto;
    padding: 15px 0;
  }
  #tech-post-list .tech-author-image {
    width: 30px;
    height: 30px;
    margin: 0;
    float: left;
  }
  #tech-post-list .author-name {
    text-align: left;
    float: left;
    padding: 5px;
    margin: 0;
  }
  #tech-post-list .post-date {
    float: right;
    margin: 0;
    font-size: 13px;
    line-height: 32px;
  }
}

/* pageination */

#pagination {
  margin: 0;
  padding: 33px 0;
  text-align: center;
}

#pagination > li {
  list-style: none;
  display: inline-block;
  height: 20px;
  width: 20px;
  color: #1e1e1e;
  font-size: 14px;
  line-height: 18px; /* 18px = 20(height) - 2(border) */
  vertical-align: middle;
}

/* pagination */

#pagination > li + li {
  margin-left: 10px;
}

#pagination > li.active,
#pagination > li:hover {
  background-color: #e6e6e6;
  border-radius: 4px;
}

#pagination > li > a {
  color: #1e1e1e;
  width: 100%;
  height: 100%;
  display: block;
}

#page-prev {
  background: url(../images/pc/icon_pre.png) no-repeat center;
  background-size: 6px 11px;
}

#page-next {
  background: url(../images/pc/icon_next.png) no-repeat center;
  background-size: 6px 11px;
}

/* 
.pagination{
    display: block;
    padding: 0;
    text-align: center;
}
.previous,
.next {
    background-size: 6px 11px;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.previous{
    background: url(../images/icon_pre.png) no-repeat center;
}
.next {
    background: url(../images/icon_next.png) no-repeat center;
}

 */

/* contact us */
.dk-container ul {
  padding-left: 0;
}
.info {
  max-width: 1240px;
  padding: 70px 25px;
  margin: auto;
}
.info h4 {
  padding-left: 10px;
}
.contact-right h4 {
  padding-bottom: 30px;
}
.contact-left,
.contact-right {
  float: left;
  color: #021933;
}
.contact-left {
  width: 45%;
  padding-right: 10px;
}
.contact-left ul li {
  padding: 30px 0;
}
.contact-left ul li i {
  padding-right: 20px;
}

.contact-right {
  padding-left: 10px;
  width: 55%;
}
.info:after {
  content: '';
  display: block;
  clear: both;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form-control-transparent {
  background: 0 0;
  border-color: transparent;
  color: #495057;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-color {
  background-color: #da4859;
  color: #fff;
}

@media (max-width: 768px) {
  .contact-left {
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
  }
  .contact-right {
    margin: auto;
    width: 100%;
    float: none;
  }
  .info h4 {
    text-align: center;
  }
  #contact-form .btn {
    float: right;
  }
  #contact-form :after {
    clear: both;
    content: '';
    display: block;
  }
}

/* 포스트 내용 */
@media (max-width: 900px) {
  #post-content {
    padding: 0;
  }
  #post-content ul,
  #post-content ol {
    padding: 0;
  }
}

@media (max-width: 501px) {
  #post-author a {
    font-size: 12px;
  }
  #post-author p {
    font-size: 11px;
  }
  #cover > div > p {
    width: 135px;
  }
  #cover div {
    padding-top: 5px;
  }
  #author-image {
    width: 40px;
    height: 40px;
  }
  #cover > div > p {
    padding: 0;
    margin: 0;
  }
  #cover > div > p > a {
    display: inline-block;
    margin-top: 5px;
  }
  #content {
  }
  .sub-header h1 {
    font-size: 23px;
  }
}

/** business page **/
#business-content-wrap {
  max-width: 1240px;
  padding: 10px;
  margin: 80px 0;
}

#business-navs {
  justify-content: center;
}
.nav-tabs .nav-item {
  padding: 0 5px;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: -1px;
  color: #001f43;
}
@media (max-width: 768px) {
  .nav-tabs .nav-item {
    width: 100%;
    text-align: center;
  }
  .nav-link.active {
    width: 50%;
    margin: auto;
  }
}

.business-intro {
  margin-bottom: 70px;
}
.business-intro h2 {
  color: #da4859;
  font-weight: bold;
}
.business-intro span {
  border-bottom: 2px solid #00223e;
  width: 70px;
  margin: 30px 5px;
  display: block;
}
.fclt-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.business-intro p {
  color: #08213b;
}

@media (max-width: 916px) {
  .fclt-content {
    flex-direction: column;
  }
}
.fclt-content div {
  margin: auto;
}
.ipes-content,
.traffic-content {
  display: flex;
  margin: 70px 0;
}
.ipes-content div h5,
.traffic-content div h5 {
  font-weight: bold;
}
.ipes-content div p,
.traffic-content div p {
  color: #595e63;
}
.img-fr img {
  float: right;
}
.img-fr:after {
  clear: both;
  display: block;
  content: '';
}
.img-box {
  width: 45%;
}
.text-box {
  width: 55%;
  margin: 15px 0 0 24px;
}
.text-box-even {
  width: 55%;
  margin: 15px 24px 0 0;
}
.img-box img {
  width: 100%;
}
.img-timegram {
  width: 50% !important;
  box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05),
    0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03) !important;
}
.mb-text {
  display: none;
}
@media (max-width: 768px) {
  .ipes-content,
  .traffic-content {
    display: block;
  }
  .img-box {
    width: 100%;
  }
  .text-box {
    width: 100%;
    margin: 0;
  }
  .text-box h5 {
    text-align: center;
    margin: 30px 0;
  }
  .pc-text {
    display: none;
  }
  .mb-text {
    display: block !important;
  }
  .business-intro h2 {
    text-align: center;
  }
  .business-intro span {
    margin: 30px auto;
  }
}

/** tab **/
.nav-tabs {
  border-bottom: none !important;
}
.nav-link {
  color: #ad9292;
}
.nav-link.active {
  border: none !important;
  border-bottom: 2px solid #00223e !important;
  color: #00223e !important;
}
.nav-tabs .nav-link:hover {
  border-color: #fff;
  color: #00223e !important;
  font-weight: 600;
}
/* 제품 소개 탭 */
.half-box > div {
  width: 45%;
}
/* * * * * *  제품소개탭 * * * * * */
/* .d-none{
  display: none;
}
.d-block{
  display: block;
}
.product-content{
  color: #333;
}
.tab-box{
  display: flex;
  cursor: pointer;
}
.tab-box li{
  text-align: center;
  border: 1px solid #f5f6fa;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 46px;
}

.tab-btn-click{
  background-color: #f85d58;
  color: #fff;
}
.ai-2th-tab-box{
  margin: 0 20px;
}
#ai-2th-tab1{
  display: block;
}
#ai-2th-tab2{
 display: none;
}
.ai-2th-tab-box span{
  width: 100%;
  color: #6a6a6a;
  text-align: center;
}
.tab-content{
  display: inline-block;
  padding-left: 10px;
  width: 100px;
  height: 100px;
  background-color: teal;

}
.tab-content-box{
  display: none;
} */

/* home popup css */
.popup-size {
  width: 521px;
  height: 634px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  position: absolute;
  /* border: 2px solid #ccc; */
  z-index: 999;
  visibility: hidden;
  background-image: url(/assets/images/popup-award-certificate.png);
}
.popup-location-1 {
  /* background-image: url(/assets/images/tta-popup-img.png); */
  /* background-image: url(/assets/images/popup-hitech.jpg); */
  /* background-image: url(/assets/images/popup-award-certificate.png); */
  top: 50px;
  left: 100px;
}
/* .popup-location-2 {
  background-image: url(/assets/images/popup-hitech.jpg);
  top: 50px;
  left: 690px;
} */
.popup-size div {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.popup-size div a {
  margin-left: 7px;
}

/* 스마트 유지관리 플랫폼 */
.color-default {
  color: #333;
}
.title-mg {
  margin-bottom: 20px;
}
.down-mg {
  margin-bottom: 70px;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-align {
  border-spacing: 15px 0px;
  border-radius: 5px;
  margin: auto;
  border-collapse: separate;
  border: 1px solid #ccc;
  padding: 10px 5px;
  width: 95%;
}
.table-align thead tr th {
  text-align: center;
  width: 30%;
}
.table-align tbody tr td {
  width: 30%;
}
.border {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin: 100px 0;
}
.effect-frame {
  margin: auto;
  width: 93%;
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 7px;
}
.effect-frame dl {
  margin-left: 30px;
  width: 33%;
}
.effect-frame dt {
  text-align: center;
  margin-bottom: 30px;
}
.effect-frame dl:first-child {
  margin-left: 0;
}
.feature-frame {
  margin: 0 40px;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
}
.feature-img {
  margin-right: 70px;
}
.consist-wrap {
  flex-wrap: wrap;
  display: flex;
}
.consist-text {
  display: flex;
  margin-bottom: 20px;
}
.consist-text dl dd:first-child {
  font-size: 26px;
}
.consist-text dl dt {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.consist-text dl dt img {
  width: 100%;
}
.consist-text span {
  margin-right: 20px;
  color: #aaa;
  font-size: 24px;
  font-weight: 600;
}
.consist-text dl dt {
  margin: 15px 0 30px 0;
}

/* 스마트 유지관리 반응형 */
@media (max-width: 992px) {
  .feature-box {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .effect-frame {
    display: block;
  }
  .effect-frame dl {
    margin: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .effect-frame dl:last-child {
    margin-bottom: 0;
  }
  .effect-frame dt {
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .feature-frame {
    display: block;
  }
  .feature-frame .feature-img {
    text-align: center;
    margin: 0;
  }
}
.exam-frame {
  margin: 0px 40px;
}
.exam-frame:first-child {
  margin-bottom: 50px;
}
.exam-frame h6 {
  vertical-align: top;
  display: inline-block;
}
.exam-frame ul {
  display: inline-block;
  margin-left: 40px;
}
.img-mg {
  margin: 30px 0;
}
.img-mg-center {
  margin: 50px 0;
  text-align: center;
}
.img-mg-center img {
  width: 100%;
}
.content-box-style {
  margin-left: 30px;
  margin-bottom: 40px;
}
.content-box-style2 {
  margin-left: 30px;
  margin-bottom: 40px;
}
.num-style {
  color: #aaa;
  font-size: 24px;
  font-weight: 600;
}
.content-style {
  margin-left: 30px;
}
.content-style dl dt {
  margin-bottom: 20px;
  font-size: 22px;
}
.content-style dl dd {
  color: #777;
}
.content-border-style {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.num-deco {
  border-bottom: 2px solid #aaa;
  height: 32px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.content-border-style dl {
  margin-left: 30px;
  margin-bottom: 0;
}
.content-border-style dl dt {
  font-size: 18px;
  margin-bottom: 10px;
}
.content-border-style dl dd {
  color: #777;
}

.arrow-circle {
  width: 65px;
  height: 65px;
  margin: 35px auto;
  border: 1px dotted #777;
  border-radius: 50px;
  text-align: center;
}
.arrow-circle img {
  opacity: 0.7;
  transform: rotate(90deg);
  width: 30px;
  margin-top: 17px;
}
.certificate-bg {
  background-color: #eee;
  height: 370px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate-bg img {
  width: 22%;
  margin-left: 50px;
}
.certificate-bg img:first-child {
  margin-left: 0;
}
.ipes-box {
  margin-bottom: 20px;
  align-items: center;
}
.num-size {
  font-size: 30px;
  font-weight: 600;
}
.ipes-box ul {
  color: #777;
  margin-left: 30px;
}

/* 불법주정차 */

.feature-box-second {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  display: flex;
}
.feature-box-second > span {
  border-bottom: 2px solid #aaa;
  height: 32px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.feature-box-second dl {
  margin-left: 30px;
  margin-bottom: 0;
}
.feature-box-second dl dt {
  font-size: 18px;
  margin-bottom: 10px;
}
/* 지능형 교통관리 */
.content-style-double dt {
  margin-bottom: 15px;
}
.content-style-double dt:first-child {
  font-size: 26px;
}
.content-style-double dt:nth-child(2) {
  font-size: 20px;
}
.content-style-double dd {
  color: #444;
  margin-bottom: 0;
}
.emphasis-color {
  color: #bc0b44 !important;
}

/* * * * * cctv * * * * */
.feature-align {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 30px;
}
.feature-box {
  display: flex;
  width: 32%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
  align-items: flex-start;
}
.feature-box > span {
  border-bottom: 2px solid #aaa;
  height: 32px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.feature-box > div {
  margin-left: 30px;
}
.feature-box > div span {
  display: block;
}
/* cctv 992px 반응형 */
@media (max-width: 992px) {
  .feature-box {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .feature-box {
    width: 100%;
  }
}

/* 제품 소개 반응형 */
@media (max-width: 992px) {
  .respone-none {
    display: none;
  }
  .half-box > div {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .respone-block {
    display: block !important;
  }
}

/* mas */
.table-img img {
  width: 100%;
}
.mas-table {
  text-align: center;
}
.mas-table tbody tr td {
  vertical-align: middle;
}

/* 테이블 */
.product-table {
  width: 100%;
  margin: auto;
}
.product-table,
.product-table thead tr th,
.product-table tbody tr td {
  border: 2px solid #333;
  padding-left: 10px;
}
.product-table thead tr {
  height: 40px;
  text-align: center;
}
.product-table thead tr th:first-child {
  /* width: 27%; */
  width: 28%;
}
.bold {
  font-weight: 600;
}

.color-gray {
  background-color: #d8d8d8;
}
.color-red {
  background-color: #b64d4b;
  color: #fff;
}
.color-black {
  background-color: #485152;
  color: #fff;
}

/* 사업소개 공통 레이아웃 css */
.content-box {
  margin-left: 30px;
  margin-bottom: 50px;
  display: flex;
}
.content-box span {
  color: #aaa;
  font-size: 24px;
  font-weight: 600;
}
.content-box > div {
  width: 100%;
  margin-left: 30px;
}
.content-box div h3 {
  margin-bottom: 20px;
}
.content-box div .content-sub-title {
  margin-bottom: 20px;
  color: #bc0b44;
  font-size: 18px;
}
.content-box div .content-text {
  margin-bottom: 20px;
}
.content-box div .content-img {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.content-box div .content-img dl {
  margin-left: 10px;
}
.content-box div .content-img dl dd {
  color: #777;
  margin-top: 20px;
  text-align: center;
}
.text-bg {
  background-color: #f9f9f9;
  padding: 20px;
}
@media (max-width: 992px) {
  .content-box div .content-img {
    display: block;
    text-align: center;
  }
  .content-box div .content-img img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .content-box {
    margin-left: 0;
  }
  .content-box > div {
    margin-left: 10px;
  }
}
