
#header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: 405px;
}
#header #search{
    top: 60px;
    right: 480px;
}
#header ul#menu{
    border-top: 1px solid gray;
    height: 54px;
    line-height: 54px;
    background-color: rgba(255,255,255,0.1);
}
#menu li{
    line-height: 54px;
    border-bottom: 0
}
#menu > li.active,
#menu > li:hover{
    border-bottom: 0
}
#header ul#menu li a{
    color: #fff;
}
#wrapper{
    background-color: #f3f7fd
}