  header {
    height: 85px;
  }
  .header-wrap{
  position: relative;
    max-width: 1400px;
    margin: auto;
  }
  .header-wrap h1{
   position: absolute;
   top: 0;
   left: 10px;
   width: 140px;
   height: 85px; 
  } 
  .gnb{
    z-index: 300;
    overflow: hidden;
    padding-left: 200px;
  }
  
  .nav-item{
    margin: 30px 0;
      padding: 0 20px;
      text-align: center;
      width: 25%;
  }
  .nav-link{
    padding-bottom: 30px;
  }
  .nav-in-ul{
      padding:0 ;
  }
  .nav-in-ul li a{
      color: #fff;
      padding:20px
  }

  .nav-contact{
width: 10%;
  }
  .contact-icon:hover{
    width: 120px;
    background-color: #cf183b;
    border: none;
  }
  .contact-icon{
    width: 50px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding-top: 11px 13px;
    transition: all .2s;

  }