---
layout: default
---
<!-- <div id="cover" class="container-fluid"
     {% if page.image %}style="background-image: url({{ page.image }});"{% endif %}>
    <div>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description | newline_to_br }}</p>
    </div>
</div> -->

<div class="dk-container">    
    <div class="about-text-wrap">
        <h2>
            DK  A.N.T  VISION
        </h2>
        <span>

        </span>
        <p class="bold">
            우리 기술을 통해 창의적으로 생각하고, 고민했던 문제가 해결되어 국가와 사회에 도움을 준다.
        </p>
        <p>
            DK A.N.T는 AI, Network, Technology의 약자로 사물과 사물, 사물과 사람, 사람과 사람 간을 연결하는 기술에 가치를 두며, 이 기술을 통해 사회에 도움을 주는 것이 우리의 비전입니다. 우리 기술을 전세계 어디에서든 가치를 인정받고, 우리 기술을 통해 고민했던 문제가 해결되어 국가와 사회가 발전할 수 있도록 모든 구성원이 최선을 다하고 있습니다.
        </p>
    </div>
    <div class="about-img-wrap">
        <div>
            <h2>
              5년  
            </h2>
            <p>
                회사설립
            </p>
        </div>

        <div>
            <h2>
                6건
            </h2>
            <p>
                특허,인증
            </p>
        </div>

        <div>
            <h2>
                9개
            </h2>
            <p>
                자체 솔루션
            </p>
        </div>

        <div>
            <h2>
                매달 1건
            </h2>
            <p>
                사회기여
            </p>
        </div>
    </div>


<style>
.image-wrap{
    width: 25%;
}
</style>



