<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <style>

    </style>
</head>

<body class="{{ page.layout | append: '-template' }}">
    <!-- 팝업창 기능 꺼놓음. 다시 사용 시 주석해제 -->
    <!-- <div id="popup" style="visibility:hidden">
        <div id="popup-mask"></div>
        <div id="popup-fixed">
            <div id="noticePopup" class="popup-size">
            <img src="/assets/images/popup-award-certificate.png">
            <div class="popup-content">
                <div onClick="noVisible()" for="checkToday"  id="popup-text">하루동안 보지 않기</div>
                <div onClick="closeWin()" id="close">닫기</div>
                </div>
            </div>
        </div>
    </div> -->

    {% include header.html %}

    <main role="main">
        <div id="content">
            <div id="home-content" role="main">
                {{ content }}
            </div>
        </div>

        <div class="clearfix">
        </div>
    </main>


    {% include footer.html %}


    <script>
        /* 팝업창 기능 꺼놓음. 다시 사용 시 주석해제
        const popup = document.querySelector("#popup");
        
        const cookiedata = document.cookie;
        if (!cookiedata.includes("maindiv=done")) {
            popup.style.visibility = "visible";
        }

        function setCookie(name, value, expiredays) {
            var todayDate = new Date();
            todayDate.setDate(todayDate.getDate() + expiredays);
            document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toUTCString() + ";"
        }
        
        function noVisible() {
            setCookie("maindiv", "done", 1);
            popup.style.visibility = "hidden";
        }
        
        function closeWin() {
            popup.style.visibility = "hidden";
        }  
      */

    </script>
</body>

</html>

<!-- <div id="cover" class="container-fluid" -->
<!-- {% if site.image %}style="background-image:url({{ site.image }});"{% endif %}> -->
<!-- {% if paginator.page == 1 %} -->
<!--[if (gt IE 9)|!(IE)]><!-->
<!-- <video loop muted preload="metadata" crossorigin="anonymous">
            <source src="{{ site.asset_url }}/images/blog_cover.webm" type="video/webm"/>
            <source src="{{ site.asset_url }}/images/blog_cover.ogv" type="video/ogg"/>
            <source src="{{ site.asset_url }}/images/blog_cover.mp4" type="video/mp4"/>
        </video> -->
<!--<![endif]-->
<!-- {% endif %} -->
<!-- <div>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description | newline_to_br }}</p>
    </div> -->
<!-- </div> -->