<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <style>

    </style>
</head>

<body class="{{ page.layout | append: '-template' }}">
    <div id="popup" style="visibility:hidden">
        <div id="popup-mask"></div>
        <div id="popup-fixed">
            <div id="noticePopup" class="popup-size">
            <img src="/assets/images/popup-award-certificate.png">
            <div class="popup-content">
                <div onClick="noVisible()" for="checkToday"  id="popup-text">하루동안 보지 않기</div>
                <div onClick="closeWin()" id="close">닫기</div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- <div id="noticePopup" class="popup-size popup-location-2">
        <div>
            <input id="checkToday" type="checkbox" name="chkbox" value="checkbox">
            <label for="checkToday" style="color: #fff;">오늘 하루 이 창을 열지 않음</label>
            <a href="javascript:closeWin();" style="color: #fff;">[닫기]</a>
        </div>
    </div> -->

    {% include header.html %}

    <main role="main">
        <div id="content">
            <div id="home-content" role="main">
                {{ content }}
            </div>
        </div>

        <div class="clearfix">
        </div>
    </main>


    {% include footer.html %}


    <script>
        const popup = document.querySelector("#popup");
        
        const cookiedata = document.cookie;
        if (!cookiedata.includes("maindiv=done")) {
            popup.style.visibility = "visible";
        }

        function setCookie(name, value, expiredays) {
            var todayDate = new Date();
            todayDate.setDate(todayDate.getDate() + expiredays);

            // todayDate.getDate() + expiredays : 현재날짜의 date를 가져와서 expiredays를 추가
            document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toUTCString() + ";"
            // document.cookie = "Name=Value(값);Expires=날짜;Domain=도메인;Path=경로;Secure"; 
            // name = 값; path=/; Expires= 현재 시간;
            // name과 값 : 데이터를 저장하고 읽는 데 사용하는 속성
            // Expires: 쿠키의 파기 날짜를 지정하는 속성 UTC형식으로 적어야함. 별도 안 쓸 시 브라우저 종료 시 쿠키 삭제
            // path=/ 도메인 내 모든 곳에서 접근 가능
        }
        
        function noVisible() {
            setCookie("maindiv", "done", 1);
            popup.style.visibility = "hidden";
        }
        
        function closeWin() {
            popup.style.visibility = "hidden";
        }  
      

    </script>
</body>

</html>

<!-- <div id="cover" class="container-fluid" -->
<!-- {% if site.image %}style="background-image:url({{ site.image }});"{% endif %}> -->
<!-- {% if paginator.page == 1 %} -->
<!--[if (gt IE 9)|!(IE)]><!-->
<!-- <video loop muted preload="metadata" crossorigin="anonymous">
            <source src="{{ site.asset_url }}/images/blog_cover.webm" type="video/webm"/>
            <source src="{{ site.asset_url }}/images/blog_cover.ogv" type="video/ogg"/>
            <source src="{{ site.asset_url }}/images/blog_cover.mp4" type="video/mp4"/>
        </video> -->
<!--<![endif]-->
<!-- {% endif %} -->
<!-- <div>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description | newline_to_br }}</p>
    </div> -->
<!-- </div> -->