<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <style>

    </style>
</head>

<body class="{{ page.layout | append: '-template' }}">
    <div id="noticePopup" class="popup-size popup-location-1">
        <div>
            <input id="checkToday" type="checkbox" name="chkbox" value="checkbox">
            <label for="checkToday">오늘 하루 이 창을 열지 않음</label>
            <a href="javascript:closeWin();">[닫기]</a>
        </div>
    </div>
    <div id="noticePopup" class="popup-size popup-location-2">
        <div>
            <input id="checkToday" type="checkbox" name="chkbox" value="checkbox">
            <label for="checkToday" style="color: #fff;">오늘 하루 이 창을 열지 않음</label>
            <a href="javascript:closeWin();" style="color: #fff;">[닫기]</a>
        </div>
    </div>
    {% include header.html %}

    <main role="main">
        <div id="content">
            <div id="home-content" role="main">
                {{ content }}
            </div>
        </div>

        <div class="clearfix">
        </div>
    </main>


    {% include footer.html %}

    <!-- 

{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}

{% if page.layout != 'home' %}

    {% if site.facebook %}
    {% include facebook_sdk.html %}
    {% endif %}

    {% if site.twitter %}
    {% include twitter_sdk.html %}
    {% endif %}

    {% if site.google_plus %}
    {% include google_plus_sdk.html %}
    {% endif %}
{% endif %} -->

    <script>
        let popup = document.querySelector("#noticePopup");

        function setCookie(name, value, expiredays) {
            var todayDate = new Date();
            //현재 날짜시간
            todayDate.setDate(todayDate.getDate() + expiredays);
            //todayDate.setMinutes(todayDate.getMinutes() + 1);

            // 현재 시간을 기준으로 setdate(숫자) 숫자의 날을 계산
            // todayDate.getDate() + expiredays : 현재날짜의 date를 가져와서 exporedays를 추가
            document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toUTCString() + ";"
            // document.cookie = "Name=Value(값);Expires=날짜;Domain=도멘인;Path=경로;Secure"; 
            // name = 값; path=/; Expires= 현재 시간;
            // name과 값 : 데이터를 저장하고 읽는 데 사용하는 속성
            // Expires: 쿠키의 파기 날짜를 지정하는 속성 UTC형식으로 적어야함. 별도 안 쓸 시 브라우저 종료 시 쿠키 삭제
            // path=/ 도메인 내 모든 곳에서 접근 가능
            // todayDate.toUTCString()의 todayDate는 현재 시각인가? 두 번째 줄은 어떻게 활용?
        }
        function closeWin() {
            if (document.querySelector("#checkToday").checked) {
                setCookie("maindiv", "done", 1);
                // notice_form의 체크박스가 체크 된다면, 
                // maindiv = done; path=/; Expires= 현재 시간 
            }
            if (popup) popup.style.visibility = "hidden";
        }      // noticePopup이 숨겨짐.


        if (popup) popup.style.visibility = "visible";

        cookiedata = document.cookie;
        console.log(cookiedata)
        if (cookiedata.indexOf("maindiv=done") > 0) {
            if (popup) popup.style.visibility = "hidden";
        }

    </script>
</body>

</html>

<!-- <div id="cover" class="container-fluid" -->
<!-- {% if site.image %}style="background-image:url({{ site.image }});"{% endif %}> -->
<!-- {% if paginator.page == 1 %} -->
<!--[if (gt IE 9)|!(IE)]><!-->
<!-- <video loop muted preload="metadata" crossorigin="anonymous">
            <source src="{{ site.asset_url }}/images/blog_cover.webm" type="video/webm"/>
            <source src="{{ site.asset_url }}/images/blog_cover.ogv" type="video/ogg"/>
            <source src="{{ site.asset_url }}/images/blog_cover.mp4" type="video/mp4"/>
        </video> -->
<!--<![endif]-->
<!-- {% endif %} -->
<!-- <div>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description | newline_to_br }}</p>
    </div> -->
<!-- </div> -->