<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body class="{{ page.layout | append: '-template' }}">
  {% include sub_header.html %}

  {% include default_banner.html %}

  <main role="main">

    <div class="content" id="wrap">

      <!-- Nav tabs -->
      <ul id="business-navs" class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/introduction/introduce/' %} active {% endif %}" id="business-tab-1"
            href="{{ base_path }}/introduction/introduce/">
            회사 소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/introduction/location/' %} active {% endif %}" id="business-tab-2"
            href="{{ base_path }}/introduction/location/">
            회사위치</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/introduction/notice/' %} active {% endif %}" id="business-tab-3"
            href="{{ base_path }}/introduction/notice/">
            공지사항</a>
        </li>

      </ul>
      <div id="">
        {{ content }}
      </div>

    </div>

    <div class="clearfix"></div>
  </main>

  {% include footer.html %}

</body>

</html>